:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
	background-color: #f1f2ed;;
}

/* General Shaping */
.header {
	background-color: #f1f2ed;
	height:auto;
	margin:0px;
}

.header-text {
	margin: 10px;
	margin-left: 40px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 500;
	color: #cbccc6;
	font-size: 40px;
}

.title {
	margin-left: 6vw;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 60px;
	font-weight: 500;
	color: #3b97eeb9;
}

.footer {
	margin-left: 20px;
	width: 500px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
}

#app-container {
	background-color: #fff;
	height: 88vh;
	margin-left: 3vw;
	margin-right: 3vw;
}

.fade-in-text {
	font-family: Arial;
	font-size: 60px;
	animation: fadeIn 1s;
  }
  
  @keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }

.date {
	margin:10px;
	text-align: center;
	font-size: 30px;
}

hr.rounded {
  border-top: 6px solid #d66e45b9;
  border-radius: 5px;
}

.alert {
	padding: 18px;
	background-color: #f55d5db9;
	color: white;
	margin-bottom: 15px;
	border-radius: 10px;
  }

.button-container {
	width:200px;
	margin-left: 450px;
}

.button {
	display: inline-block;
	height: 26px;
	margin: 5px;
	background-color: #3b97eeb9;
	border-width: 0.1px;
	border-color: #d4d4d473;
	border-radius: 10px;
	overflow: hidden;
	text-align: center;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 15px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 3px 0 rgba(0,0,0,.12);
	transition: all 0.2s;

  &:hover {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 4px 3px -2px rgba(0,0,0,.2),0 3px 6px 0 rgba(0,0,0,.12);
    top: -2px;
    transform: translateY(-2px);
    }
  
    &:active {
      box-shadow: 0 0 0 0 rgba(0,0,0,.14),0 0 0 0  rgba(0,0,0,.2),0 0 0 0  rgba(0,0,0,.12);
      transform: translateY(2px);
    }
}

.in-line {
	display:inline-block;
}

/* Login */
.login {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
}

#login-container {
	margin-top: 20px;
	margin-left: 40px;
}

/* Calendar */

#calendar-list {
	width: 800px;
	margin-left: 20vw;
	margin-right: 20vw;
}

#month-container {
	padding: 40px;
	margin:auto;
	width: 600px;
	position: relative;
}

#calendar-title {
	margin-top: 35px;
	margin-left: 10px;
	max-width: 440px;
	max-height: 10px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 3em;
	position: absolute;
	top: 2px;
}

.card {
	display: inline-block;
	width: 180px;
	height: 180px;
	margin: 5px;
	background-color: #3b97eeb9;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	transition: all 0.3s;
	
	&:hover {
	box-shadow: 0 6px 6px 0 rgba(0,0,0,.14),0 7px 5px -2px rgba(0,0,0,.2),0 5px 9px 0 rgba(0,0,0,.12);
	top: -4px;
	transform: translateY(-2px);
	}

	&:active {
		box-shadow: 0 0 0 0 rgba(0,0,0,.14),0 0 0 0  rgba(0,0,0,.2),0 0 0 0  rgba(0,0,0,.12);
		transform: translateY(2px);
	}
}

.card-title{
	text-align: center;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 26px;
	color: #f1f2ed;
	font-size: 30px;
	font-weight: 500;
	margin-top: 20%;
}

.day-card {
  display: inline-block;
	width: 80px;
	height: 80px;
	margin: 2px;
	background-color: #3b97eeb9;
	border-radius: 10px;
	overflow: hidden;
	text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  transition: all 0.3s;
  
  &:hover {
  box-shadow: 0 6px 6px 0 rgba(0,0,0,.14),0 7px 5px -2px rgba(0,0,0,.2),0 5px 9px 0 rgba(0,0,0,.12);
  top: -4px;
  transform: translateY(-2px);
  }

  &:active {
	  box-shadow: 0 0 0 0 rgba(0,0,0,.14),0 0 0 0  rgba(0,0,0,.2),0 0 0 0  rgba(0,0,0,.12);
	  transform: translateY(2px);
  }
}

#new-calendar-container {
	width: 400px;
	height: 400px;
}

#share-container {
	text-align: center;
	border-radius: 10px;
	margin: 10px;
	background-color: #81d8ac5e;
}

.shared-users {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	width: 200px;
	margin: 10px;
	vertical-align:top;
}

.shared-form {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
	vertical-align:top;
	margin: 10px;
	margin-left: 80px
}

.edit-form {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
	vertical-align:top;
	margin: 10px;
}

/* Notes */
#note-container {
	width: 600px;
}

.note-card {
	display: inline-block;
	  width: 500px;
	  padding: 4px;
	  margin: 2px;
	  margin-left: 50px;
	  background-color: #3b97eeb9;
	  border-radius: 10px;
	  overflow: hidden;
	  text-align: center;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 22px;
  }

.note-card-content {
	margin-left: 50px;
	font-size: 16px;
	width: 400px;
	text-wrap: pretty;
  }

.note-count {
	background-color: #07000060;
	margin-top: 10px;
	margin-left: 26px;
	width: 28px;
	color:#fff;
	font-size: 20px;
	border-radius: 100px;
  }

#new-note-container {
	width: 400px;
	height: 400px;
}

/* Navigation */

#navbar {
	margin-left: 6vw;
	margin-bottom: 8px;
}

.nav-link {
	text-decoration: none;
	display: inline-block;
	height: 23px;
	margin: 5px;
	padding:2px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 10px;
	background-color: #3b97eeb9;
	overflow: hidden;
	text-align: center;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #ffffffe7;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 3px 0 rgba(0,0,0,.12);
	  transition: all 0.2s;
  
	&:hover {
	  box-shadow: 0 3px 3px 0 rgba(0,0,0,.14),0 7px 5px -2px rgba(0,0,0,.2),0 3px 6px 0 rgba(0,0,0,.12);
	  top: -2px;
	  transform: translateY(-2px);
	  }
	
	  &:active {
		box-shadow: 0 0 0 0 rgba(0,0,0,.14),0 0 0 0  rgba(0,0,0,.2),0 0 0 0  rgba(0,0,0,.12);
		transform: translateY(2px);
	  }
  }

  .logout {
	margin-right: 6vw;
	float: right;

  }

  .username-display {
	margin-top: 50px;
	margin-right: 6vw;
	float: right;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
	font-weight: 500;
	color: #3b97eeb9;;
  }

  .nav-button {
	display: inline-block;
	height: 23px;
	margin: 5px;
	background-color: #f55d5db9;
	border-radius: 10px;
	overflow: hidden;
	text-align: center;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 15px;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 3px 0 rgba(0,0,0,.12);
	  transition: all 0.2s;
  
	&:hover {
	  box-shadow: 0 3px 3px 0 rgba(0,0,0,.14),0 7px 5px -2px rgba(0,0,0,.2),0 5px 9px 0 rgba(0,0,0,.12);
	  top: -2px;
	  transform: translateY(-2px);
	  }
	
	  &:active {
		box-shadow: 0 0 0 0 rgba(0,0,0,.14),0 0 0 0  rgba(0,0,0,.2),0 0 0 0  rgba(0,0,0,.12);
		transform: translateY(2px);
	  }
}

.new {
	background-color: #81d8acb9;
}

.delete {
	background-color: #f55d5db9;
}

.edit {
	background-color: #3b97eeb9;;
}
