:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
	background-color: #f1f2ed;;
}

/* General Shaping */
.header {
	background-color: #f1f2ed;
	min-height: 110px;
	height:auto;
	margin:0px;
}

.header-text {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 500;
	color: #3b97eeb9;
	font-size: 40px;
}

.title {
	margin-left: 6vw;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 60px;
	font-weight: 500;
	color: #3b97eeb9;
}

.footer {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
}

#app-container {
	background-color: #fff;
	height: 88vh;
	margin-left: 3vw;
	margin-right: 3vw;
}

.fade-in-text {
	animation: fadeIn .8s;
  }
  
  @keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }

hr.rounded {
  border-top: 6px solid #d66e45b9;
  border-radius: 5px;
}

.alert {
	padding: 18px;
	background-color: #f55d5db9;
	color: white;
	margin-bottom: 15px;
	border-radius: 10px;
  }

.error {
	margin:auto;
	margin-bottom:5px;
	padding-left: 10px;
	padding-right: 10px;
	width: fit-content;
	max-width: 400px;
	font-size: 16px;
	background-color: #f55d5db9;
	color: white;
	border-radius: 10px;
  }

.button {
	display: inline-block;
	height: 26px;
	margin: 5px;
	background-color: #3b97eeb9;
	border-width: 0.1px;
	border-color: #d4d4d473;
	border-radius: 10px;
	overflow: hidden;
	color: #fff;
	text-align: center;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 15px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 3px 0 rgba(0,0,0,.12);
	transition: all 0.2s;

  &:hover {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 4px 3px -2px rgba(0,0,0,.2),0 3px 6px 0 rgba(0,0,0,.12);
    top: -2px;
    transform: translateY(-2px);
    }
  
    &:active {
      box-shadow: 0 0 0 0 rgba(0,0,0,.14),0 0 0 0  rgba(0,0,0,.2),0 0 0 0  rgba(0,0,0,.12);
      transform: translateY(2px);
    }
}

.return {
	margin: 10px;
	margin-left:32px;
}

.month-counter {
	margin-left: 0px;
	margin-top:15px;
}
.in-line {
	display:inline-block;
}

/* Login */
.login {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 15px;
	margin:6px
}

.login-container {
	padding: 50px;
}

/* Calendar */

#calendar-list {
	padding: 40px;
	width: 800px;
	margin:auto;
}

#month-container {
	padding: 40px;
	margin:auto;
	width: 600px;
	position: relative;
}

#notes-container {
	padding: 10px;
	margin:auto;
	width: 600px;
}

#calendar-title {
	margin-top: 4px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 36px;
	position: absolute;
	top: 0px;
}

.date {
	color: #b5b6b0;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 28px;
	text-decoration:underline;
}

.center {
	margin-top: 20px;
	text-align: center;
}

.new-form {
	margin: 10px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 24px;
	border-radius: 10px;
	text-align: center;
	background-color: #8aeebc5e;
	margin:auto;
	margin-top: 4px;
	min-width: 300px;
	width:fit-content;
	border-radius: 10px;
	padding: 1px;
	padding-left: 10px;
	padding-right: 10px;
}

.form-field {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 18px;
}

.calendar-container {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	align-items:baseline
  }

.button-container {
	width: 250px;
	display: flex;
}

.card {
	display: inline-block;
	width: 180px;
	height: 180px;
	margin: 5px;
	background-color: #3b97eeb9;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	transition: all 0.3s;
	
	&:hover {
	box-shadow: 0 6px 6px 0 rgba(0,0,0,.14),0 7px 5px -2px rgba(0,0,0,.2),0 5px 9px 0 rgba(0,0,0,.12);
	top: -4px;
	transform: translateY(-2px);
	}

	&:active {
		box-shadow: 0 0 0 0 rgba(0,0,0,.14),0 0 0 0  rgba(0,0,0,.2),0 0 0 0  rgba(0,0,0,.12);
		transform: translateY(2px);
	}
}

.card-title{
	text-align: center;
	word-wrap: break-word;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 26px;
	color: #f1f2ed;
	font-size: 30px;
	font-weight: 500;
	margin-top: 20%;
}

.day-card {
  display: inline-block;
	width: 80px;
	height: 80px;
	margin: 2px;
	background-color: #3b97eeb9;
	border-radius: 10px;
	overflow: hidden;
	color: #fff;
	text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  transition: all 0.3s;
  
  &:hover {
  box-shadow: 0 6px 6px 0 rgba(0,0,0,.14),0 7px 5px -2px rgba(0,0,0,.2),0 5px 9px 0 rgba(0,0,0,.12);
  top: -4px;
  transform: translateY(-2px);
  }

  &:active {
	  box-shadow: 0 0 0 0 rgba(0,0,0,.14),0 0 0 0  rgba(0,0,0,.2),0 0 0 0  rgba(0,0,0,.12);
	  transform: translateY(2px);
  }
}

.placeholder {
	visibility: hidden;
}

.days-of-week {
	margin-top: 10px;
	color: #e0e0df;
	font-weight: 500;
	margin-right: 15px;
	text-align: center;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	word-spacing: 55px;
}

#new-calendar-container {
	width: 400px;
	height: 400px;
}

#share-container {
	text-align: center;
	margin:auto;
	margin-top: 4px;
	width:fit-content;
	border-radius: 10px;
	padding: 1px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #8aeebc5e;
}

.shared-users {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 18px;
	width: 200px;
	margin-top: 15px;
	vertical-align:top;
}

.shared-form {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
	vertical-align:top;
	padding: 10px;
}

.edit-form {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
	vertical-align:top;
	margin: 10px;
}

/* Notes */

#note-list {
	margin-top: 20px;
}

.note-card {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	width: 500px;
	padding: 4px;
	background-color: #3b97eeb9;
	border-radius: 15px;
	overflow:hidden;
	margin-left: 50px;
	margin-bottom: 10px;
	color: #fff;
}

.new-note-card {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
	text-align: center;
	height: 30px;
}

.note-header {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-title {
	margin-left: 100px;
	text-align: center;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 30px;
	flex-grow: 1;
}

.note-buttons {
    display: flex;
	flex-direction: column;
}

.note-card-content {
	padding: 20px;
	padding-bottom: 2px;
	padding-top: 2px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 18px;
	text-wrap: pretty;
	text-align: center;
  }

.note-count {
	background-color: #07000060;
	margin-top: 10px;
	margin-left: 26px;
	width: 28px;
	color:#fff;
	font-size: 20px;
	border-radius: 100px;
  }

#new-note-container {
	width: 400px;
	height: 400px;
}

/* Navigation */

#navbar {
	margin-left: 6vw;
	margin-bottom: 8px;
}

.nav-link {
	text-decoration: none;
	display: inline-block;
	height: 23px;
	margin: 5px;
	padding:2px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 10px;
	background-color: #3b97eeb9;
	overflow: hidden;
	text-align: center;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #ffffffe7;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 3px 0 rgba(0,0,0,.12);
	  transition: all 0.2s;
  
	&:hover {
	  box-shadow: 0 3px 3px 0 rgba(0,0,0,.14),0 7px 5px -2px rgba(0,0,0,.2),0 3px 6px 0 rgba(0,0,0,.12);
	  top: -2px;
	  transform: translateY(-2px);
	  }
	
	  &:active {
		box-shadow: 0 0 0 0 rgba(0,0,0,.14),0 0 0 0  rgba(0,0,0,.2),0 0 0 0  rgba(0,0,0,.12);
		transform: translateY(2px);
	  }
  }

  .logout {
	margin-right: 6vw;
	float: right;

  }

  .username-display {
	margin-top: 50px;
	margin-right: 6vw;
	float: right;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
	font-weight: 500;
	color: #3b97eeb9;;
  }

.new {
	background-color: #81d8acb9;
}

.delete {
	background-color: #f55d5db9;
}

.edit {
	background-color: #3b97eeb9;;
}
