:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

/* General Shaping */
.header {
  margin-left: 20px;
  width: 500px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
}

.footer {
	margin-left: 20px;
	width: 500px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
}


.date {
	text-align: center;
	font-size: 22px;
}

hr.rounded {
  border-top: 6px solid #96b5f080;
  border-radius: 5px;
}

.alert {
	padding: 18px;
	background-color: #f55d5db9;
	color: white;
	margin-bottom: 15px;
	border-radius: 10px;
  }

.button-container {
	width:200px;
	margin-left: 450px;
}

.in-line {
	display:inline-block;
}

/* Login */
.login {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
}

.login-button {
	display: inline-block;
	height: 26px;
	margin: 5px;
	background-color: #3b97eeb9;
	border-radius: 10px;
	overflow: hidden;
	text-align: center;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 15px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 3px 0 rgba(0,0,0,.12);
	transition: all 0.2s;

  &:hover {
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.14),0 7px 5px -2px rgba(0,0,0,.2),0 5px 9px 0 rgba(0,0,0,.12);
    top: -2px;
    transform: translateY(-2px);
    }
  
    &:active {
      box-shadow: 0 0 0 0 rgba(0,0,0,.14),0 0 0 0  rgba(0,0,0,.2),0 0 0 0  rgba(0,0,0,.12);
      transform: translateY(2px);
    }
}

#login-container {
	margin-top: 20px;
	margin-left: 40px;
}

/* Calendar */
#month-container {
	width: 600px;
	position: relative;
}

#calendar-title {
	margin-left: 20px;
	max-width: 440px;
	max-height: 10px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 3em;
	position: absolute;
	top: 2px;
}

.card {
	display: inline-block;
	width: 120px;
	height: 120px;
	margin: 4px;
	background-color: #3b97eeb9;
	border-radius: 10px;
	overflow: hidden;
	text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 26px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	transition: all 0.3s;
	
	&:hover {
	box-shadow: 0 6px 6px 0 rgba(0,0,0,.14),0 7px 5px -2px rgba(0,0,0,.2),0 5px 9px 0 rgba(0,0,0,.12);
	top: -4px;
	transform: translateY(-2px);
	}

	&:active {
		box-shadow: 0 0 0 0 rgba(0,0,0,.14),0 0 0 0  rgba(0,0,0,.2),0 0 0 0  rgba(0,0,0,.12);
		transform: translateY(2px);
	}
}

.day-card {
  display: inline-block;
	width: 80px;
	height: 80px;
	margin: 2px;
	background-color: #3b97eeb9;
	border-radius: 10px;
	overflow: hidden;
	text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  transition: all 0.3s;
  
  &:hover {
  box-shadow: 0 6px 6px 0 rgba(0,0,0,.14),0 7px 5px -2px rgba(0,0,0,.2),0 5px 9px 0 rgba(0,0,0,.12);
  top: -4px;
  transform: translateY(-2px);
  }

  &:active {
	  box-shadow: 0 0 0 0 rgba(0,0,0,.14),0 0 0 0  rgba(0,0,0,.2),0 0 0 0  rgba(0,0,0,.12);
	  transform: translateY(2px);
  }
}

#new-calendar-container {
	width: 400px;
	height: 400px;
}

#share-container {
	text-align: center;
	border-radius: 10px;
	margin: 10px;
	background-color: #81d8ac5e;
}

.shared-users {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	width: 200px;
	margin: 10px;
	vertical-align:top;
}

.shared-form {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
	vertical-align:top;
	margin: 10px;
	margin-left: 80px
}

.edit-form {
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
	vertical-align:top;
	margin: 10px;
}

.shared-button {
	display: inline-block;
	height: 26px;
	margin: 2px;
	background-color: #f55d5db9;
	border-radius: 10px;
	overflow: hidden;
	text-align: center;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 15px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 3px 0 rgba(0,0,0,.12);
	transition: all 0.2s;

  &:hover {
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.14),0 7px 5px -2px rgba(0,0,0,.2),0 5px 9px 0 rgba(0,0,0,.12);
    top: -2px;
    transform: translateY(-2px);
    }
  
    &:active {
      box-shadow: 0 0 0 0 rgba(0,0,0,.14),0 0 0 0  rgba(0,0,0,.2),0 0 0 0  rgba(0,0,0,.12);
      transform: translateY(2px);
    }
}

/* Notes */
#note-container {
	width: 600px;
}

.note-card {
	display: inline-block;
	  width: 500px;
	  padding: 4px;
	  margin: 2px;
	  margin-left: 50px;
	  background-color: #3b97eeb9;
	  border-radius: 10px;
	  overflow: hidden;
	  text-align: center;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 22px;
  }

.note-card-content {
	margin-left: 50px;
	font-size: 16px;
	width: 400px;
	text-wrap: pretty;
  }

.note-count {
	background-color: #07000060;
	margin-top: 10px;
	margin-left: 26px;
	width: 28px;
	color:#fff;
	font-size: 20px;
	border-radius: 100px;
  }

#new-note-container {
	width: 400px;
	height: 400px;
}

/* Navigation */
.nav-link {
	display: inline-block;
	height: 23px;
	margin: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	background-color: #3b97eeb9;
	border-radius: 10px;
	overflow: hidden;
	text-align: center;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 15px;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 3px 0 rgba(0,0,0,.12);
	  transition: all 0.2s;
  
	&:hover {
	  box-shadow: 0 3px 3px 0 rgba(0,0,0,.14),0 7px 5px -2px rgba(0,0,0,.2),0 5px 9px 0 rgba(0,0,0,.12);
	  top: -2px;
	  transform: translateY(-2px);
	  }
	
	  &:active {
		box-shadow: 0 0 0 0 rgba(0,0,0,.14),0 0 0 0  rgba(0,0,0,.2),0 0 0 0  rgba(0,0,0,.12);
		transform: translateY(2px);
	  }
  }

  .nav-button {
	display: inline-block;
	height: 23px;
	margin: 5px;
	background-color: #f55d5db9;
	border-radius: 10px;
	overflow: hidden;
	text-align: center;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 15px;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 3px 0 rgba(0,0,0,.12);
	  transition: all 0.2s;
  
	&:hover {
	  box-shadow: 0 3px 3px 0 rgba(0,0,0,.14),0 7px 5px -2px rgba(0,0,0,.2),0 5px 9px 0 rgba(0,0,0,.12);
	  top: -2px;
	  transform: translateY(-2px);
	  }
	
	  &:active {
		box-shadow: 0 0 0 0 rgba(0,0,0,.14),0 0 0 0  rgba(0,0,0,.2),0 0 0 0  rgba(0,0,0,.12);
		transform: translateY(2px);
	  }
}

.new {
	background-color: #81d8acb9;
}