[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipdb = "0.13.9"
flask = "*"
flask-sqlalchemy = "3.0.3"
Werkzeug = "2.2.2"
sqlalchemy-serializer = "*"
faker = "*"
flask-migrate = "*"
flask-restful = "*"
importlib-metadata = "6.0.0"
importlib-resources = "5.10.0"
flask-cors = "*"
flask-bcrypt = "1.0.1"

[requires]
python_full_version = "3.8.13"
